### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### Go Patch ###
/vendor/
/Godeps/

test.db
infomark-backend
infomark-worker
infomark
local/
database/mock.sql
database/query.sql
static/



.infomark-backend.yml
.infomark.yml

files/generated_files/*
!files/generated_files/.keep

files/uploads/avatars/*
files/uploads/materials/*
files/uploads/sheets/*
files/uploads/submissions/*
files/uploads/tasks/*

!files/uploads/avatars/.keep
!files/uploads/materials/.keep
!files/uploads/sheets/.keep
!files/uploads/submissions/.keep
!files/uploads/tasks/.keep

.local/
local
local.go
api.yaml


*.tar.gz
docker-compose.yml

static/
static


pkged.go
migration/mock/mock.sql
migration/mock/mock.sql