[Unit]
Description=infomark backend

After=local-fs.target multi-user.target infomark-docker.service
Requires=local-fs.target multi-user.target
Upholds=infomark-docker.service infomark-work.service

[Service]
User=infomark
Group=infomark
# DynamicUser=Yes
Type=simple
WorkingDirectory=/var/www/infomark
Environment=INFOMARK_CONFIG_FILE=/var/www/infomark/infomark-config.yml
ExecStart=/var/www/infomark/infomark serve
Restart=on-failure
RestartSec=5s

ProtectSystem=strict
ReadOnlyPaths=/var/www/infomark
ReadWritePaths=/var/www/infomark/files /var/spool /var/mail

[Install]
WantedBy=multi-user.target
